.heading {
  text-align: center;
  font-family: "Pacifico", cursive;

  padding: 6rem;
  padding-top: 15rem;
  padding-bottom: 15rem;
  color: blanchedalmond;
  font-size: 4.5rem;
}

.closing-heading {
  text-align: center;
  font-family: "Pacifico", cursive;
  padding: 0;
  padding-top: 15rem;
  font-size: 6rem;
  font-weight: bolder;
  color: #3c4394;
  padding-bottom: 7rem;
}

.description {
  background: linear-gradient(
    -45deg,
    rgb(214, 214, 214),
    #181717,
    #302f2fe7,
    #5e5c5cde
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding-bottom: 20px;
}

#press {
  padding-bottom: 3%;
  text-align: center;
  margin-top: 20rem;
  margin-bottom: 20rem;
}

.publishers {
  width: 20%;
  margin-right: 7rem;
}
.ltt {
  width: 10%;
  margin-left: 7rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
