.content {
  margin: 0;
  padding-top: 1.5rem;
  background-color: rgb(8, 8, 8);
}

.carousel-react {
  background-color: rgb(214, 214, 214);
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.testimonial-text {
  padding-bottom: 1.5rem;
}

.testimonial-image {
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
  text-align: center;
}

#testimonials {
  padding: 7% 8%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  height: 40rem;
  background-color: rgb(8, 8, 8);
  color: white;
}

#myVideo {
  width: 100%;
  padding-top: 2.7rem;
  padding-bottom: 0;
  margin: 0;
  box-shadow: 10px 10px 10px 10px rgb(214, 214, 214);
}
