.empty {
  text-align: center;
  letter-spacing: 2px;
  color: aliceblue;
  padding-top: 8rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  background-color: rgb(8, 8, 8);
}

.saved-cards {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 0;
  padding-bottom: 5rem;
  display: grid;
  background-color: blanchedalmond;
  grid-template-columns: repeat(auto-fill, 450px);
}
.saved-content {
  padding-top: 4.2rem;
  background-color: rgb(8, 8, 8);
  padding-bottom: 15rem;
}
