.details-left {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: bolder;
  display: inline-block;
  text-align: justify;
  width: 35%;
  word-wrap: normal;
  margin-left: 10%;
  color: aliceblue;
}

.img-right {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  float: right;
  margin-right: 25%;
}

/* reverse */

.details-right {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  font-weight: bolder;
  text-align: justify;
  width: 35%;
  word-wrap: normal;
  float: right;
  margin-right: 25%;
  color: aliceblue;
}

.img-left {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin-left: 10%;
}

.item {
  margin-bottom: 200px;
}
@media (max-width: 63rem) {
  .img-right {
    width: 150px;
    height: 150px;
  }
  .img-left {
    width: 150px;
    height: 150px;
  }
  .details-right {
    font-size: 15px;
    width: 40%;
  }
  .details-left {
    font-size: 15px;
    width: 40%;
  }
}
@media (max-width: 52rem) {
  .img-right {
    width: 80px;
    height: 80px;
  }
  .img-left {
    width: 80px;
    height: 80px;
  }
  .details-right {
    font-size: 12px;
    width: 80%;
    font-weight: 200;
    padding-bottom: 1rem;
  }
  .details-left {
    font-size: 12px;
    width: 80%;
    font-weight: 200;
    padding-bottom: 1rem;
  }
}
