.cards {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 450px);
}
.search-bar {
  padding-top: 15rem;
  text-align: center;
  background-color: rgba(8, 8, 8, 0.952);
  padding-bottom: 15rem;
  box-shadow: 0 5px 5px 5px #000649;
}

.search-button {
  background: none;
  border: none;
  padding-left: 0;
  color: aliceblue;
  font-size: 1.5rem;
  padding-right: 20px;
  position: absolute;
  right: 40%;
}

#console {
  width: 200px;
  margin-top: 5rem;
  float: left;
  margin-left: 2%;
  display: inline;
  border-radius: 100px;
  padding: 5px;
}

#label-filter {
  float: left;
  margin-top: 4.9rem;
  margin-left: 35%;
  padding-right: 0;
  margin-right: 0;
  color: aliceblue;
  font-weight: 600;
  font-size: 1.5rem;
}

#sorter {
  width: 200px;
  margin-top: 5rem;
  float: left;
  margin-left: 2%;
  display: inline;
  border-radius: 100px;
  padding: 5px;
}

#label-sorter {
  float: left;
  margin-top: 5rem;
  margin-left: 25%;
  color: aliceblue;
  font-weight: 600;
}

#search {
  text-align: center;
  position: absolute;
  right: 40%;
  padding-left: 20px;
  width: 35rem;
  height: 2.7rem;
  font-size: 1.5rem;
  color: #e2e2e2;
  font-weight: 600;
  background-color: rgb(68, 67, 67);
  border-radius: 100px;
  box-shadow: 2px 1px 10px 3px rgb(221, 221, 221);
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#search::placeholder {
  text-align: center;
  color: #e2e2e2;
}

.search-page {
  text-align: center;
  padding-bottom: 10rem;
  background-color: rgb(214, 214, 214);
}

.clear-button {
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 30px;
  width: 90px;
  background-color: transparent;
  color: aliceblue;
  border: none;
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  right: 35%;
}

.filter-and-sort {
  margin-top: 3rem;
}

.no-games {
  text-align: center;
  letter-spacing: 2px;
  color: rgb(8, 8, 8);
  padding-top: 8rem;
  font-family: "Kdam Thmor Pro", sans-serif;
  height: 30rem;
  padding-top: 15rem;
}

@media (max-width: 95rem) {
  .clear-button {
    right: 33%;
  }
  #search {
    width: 30rem;
  }
}

@media (max-width: 75rem) {
  .clear-button {
    right: 31%;
  }
  #search {
    width: 25rem;
  }
}

@media (max-width: 63rem) {
  .clear-button {
    right: 30%;
  }
  #search {
    width: 20rem;
  }
}
@media (max-width: 52rem) {
  .clear-button {
    right: 25%;
    font-size: 1rem;
    padding-top: 0.5rem;
  }
  #search {
    width: 15rem;
    font-size: 1rem;
  }
  .bi {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  #console {
    width: 10rem;
  }

  #label-filter {
    font-size: 1rem;
    padding-top: 0.5rem;
  }
}
