.game-home {
  background: #dadadaec;
  border-radius: 7px;
  box-shadow: 0 2px 5px 2px rgb(0, 0, 0);
  padding: 10px;
  width: 320px;
  height: 380px;
  margin: 30px;
  float: left;
  text-align: center;
}

.game-home:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.game-home h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-family: "Kdam Thmor Pro", sans-serif;
  height: 55px;
}

.game-home img {
  border-radius: 8%;
  width: 160px;
  padding-bottom: 1rem;
  padding-top: 0.2rem;
}

.add-game-home {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.add-game-home:hover,
.add-game-home:focus {
  background-color: #16437e;
  color: #ffffff;
}

.add-game-home:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.add-game-home:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

.home-bookmark {
  color: green;
  font-size: 2rem;
  margin-bottom: 0rem;
  margin-top: 0;
}
.remove-from-saved-home {
  background-color: transparent;
  border-style: none;
}
.click-unsave-home {
  color: green;
  font-size: 1rem;
}

@media (max-width: 73rem) {
  .game-home h1 {
    margin-bottom: 1rem;
  }

  .home-bookmark {
    font-size: 1rem;
  }
}
@media (max-width: 60rem) {
  .game-home {
    height: 260px;
  }
  .game-home img {
    width: 80px;
  }
  .game-home h1 {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  .add-game-home {
    font-size: 0.7rem;
  }
}
@media (max-width: 55rem) {
  .game-home {
    height: 250px;
  }
  .game-home img {
    width: 80px;
    padding-bottom: 0rem;
  }
  .game-home h1 {
    font-size: 0;
    margin-bottom: 0rem;
  }
  .add-game-home {
    font-size: 0.5rem;
    width: 5rem;
  }
}
